html
  font-size 62.5%

body
  background #D4D4D4
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family Courier, monospace
  font-size 2rem
  text-transform upperCase
  
h1
  font-family Courier, monospace
  text-align center
  font-weight normal
  margin 0



h2,h3,h4,h5,h6,input,label,li,.details, button, a
  font-weight normal
  font-family Courier, monospace
  text-transform upperCase

h2
  text-align center
  margin-top 0
  margin-bottom 2rem

h3
  font-size 3rem

li
  text-transform upperCase





